{% extends '::base.html.twig' %}

{% block body %}

	<ul class="list-unstyled">
		{% for employee in employees %}
			<li>
    			<a href="{{ path('calendar_show', {
					'id': employee.id,
					'year': 'now'|date('Y'),
					'month': 'now'|date('m') })}}">
    				{{ employee.fullName }}
    			</a>
			</li>
		{% endfor %}
	</ul>

{% endblock %}
